{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1><span class="font-semi-bold">Two-Factor Authentication</span></h1>

    <h3>Your new Two-Factor secret</h3>
    <div class="page">
        <div class="qrcode">
            <img src="{{ qrcode }}">
        </div>
        <div class="myrow flex-end qr-row">The secret: {{ secret }}</div>
        <a class="myrow flex-end qr-row" href="/">
            Done
        </a>
    </div>
</div>
{% endblock content %}
