{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
    <h1><span class="font-semi-bold">Two-Factor Authentication</span></h1>

    <h3>Enter you authentication code</h3>
    <div class="myrow">
        <label for="username">Username:</label>
        <input id="username" class="myinput" type="text" placeholder="Enter your username"/>
    </div>
    <div class="myrow">
        <label for="code">Authentication Code:</label>
        <input id="code" class="myinput" type="text" placeholder="Enter the code (no spaces)"/>
    </div>
    <div class="myrow flex-end">
        <a class="padding-right" href="/create">Generate new secret</a>
        <button id="submitBtn">Submit</button>
    </div>
    <div class="myrow flex-end">
        <span id="message"></span>
    </div>
</div>
    <script>
        $(document).ready(function () {
            var submitting = false;
            $('#submitBtn').click(function () {
                if (!submitting) {
                    var message = $('#message');
                    submitting = true;
                    $.post("/authenticate",
                        JSON.stringify({'code': $('#code').val(), 'username': $('#username').val()}),
                        function (data, status) {
                            submitting = false;
                            if (status === 'success') {
                                if (data.success) {
                                    message.text('Valid');
                                    message.addClass('success');
                                    message.removeClass('error');
                                } else {
                                    message.text('Invalid');
                                }
                            }
                    })
                    .fail(function () {
                        submitting = false;
                        message.text('Error');
                    })
                }
            });
        });
    </script>
{% endblock content %}
